<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
<h3>Héroe Borrado <small class="text-danger">{{deletedHero}}</small> </h3>
</div>

<ng-template #nothingWasDeleted>
<h3>No he borrado nada</h3>
</ng-template>

<button
*ngIf="heroeNames.length > 0"
class="btn btn-outline-danger"
(click)="removeLastHero()">
  Borrar último Héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroeNames"
    class="list-group-item">{{name}}
  <!--<strong>{{name}}</strong>-->
</li>
  <!--<li class="list-group-item">Spiderman</li>
  <li class="list-group-item">IronMan</li>
  <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Thor</li>-->
</ul>
